@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Polymath';
	src: url('/fonts/PolymathTextDemo-Light.otf') format('opentype');
	font-weight: 100;
}
@font-face {
	font-family: 'Polymath';
	src: url('/fonts/PolymathDemo-Regular.otf') format('opentype');
	font-weight: regular;
}
@font-face {
	font-family: 'Polymath';
	src: url('/fonts/PolymathDemo-Bold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: Mondwest;
	src: url('/fonts/PPMondwest-Regular.otf') format('opentype');
	font-weight: regular;
}

html,
body {
	background-color: #1c1c1c;

	/* hidden scrollbar */
	scrollbar-width: none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
