@import 'tailwindcss';

@font-face {
	font-family: Mondwest;
	src: url('/fonts/PPMondwest-Regular.otf') format('opentype');
	font-weight: regular;
}

@theme {
	--color-custom-black: #1c1c1c;
	--font-sans: 'Rubik', Arial, sans-serif;
	--font-display: 'Mondwest', sans-serif;
}

html,
body {
	background-color: #1c1c1c;

	/* hidden scrollbar */
	scrollbar-width: none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
